* {

}

#Rojo {
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}

#azul {
    border: 1px solid black;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 13px;
    width: 20%;
    text-align: center;
    position: fixed;
    right: 140px;
    margin-top: 0;
    background-color: red;
    border-radius: 10px;
}


header {
    border: 1px solid black;
    height: 300px;
    padding: 5px;
    margin: 5px;
    height: 300px;
    width: 70%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 0 black;
    text-shadow: 1px 1px 3px black;
}

nav {
    border: 1px solid black;
    display: inline-block;
    position: relative;
    bottom: 100px;
    left: 30px;
    transform: rotate(10deg);
}

article {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.Article__3 {
    width: 80%;
    display: inline-block;
    position: relative;
}


aside {
    border: 1px solid black;       
    display: inline-block;
    position: absolute;
    bottom: 160px;
    right: 4%;
}

footer {
    border: 1px solid black;    
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}