#azul {
    border: 1px solid black;
    margin: 5px auto; 
    padding: 5px;
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    /*position: fixed;
    left: 10px;*/
}

#Rojo {
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}

header {
    border: 1px solid black;
    height: 300px;
    padding: 5px;
    margin: 5px;
    height: 300px;
    width: 60%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 0 black;
    text-shadow: 1px 1px 3px black;
}

nav {
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    bottom: 100px;
    left: 40px;
    transform: rotate(15deg);
}

article {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.Article__3 {
    width: 300px;
    display: inline-block;
}

aside {
    border: 1px solid black;       
    display: inline-block;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

footer {
    border: 1px solid black;    
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}